@font-face {
  font-family: 'Nunito';
  src: url('fonts/Nunito-Regular.eot');
  src: url('fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/Nunito-Regular.woff2') format('woff2'),
      url('fonts/Nunito-Regular.woff') format('woff'),
      url('fonts/Nunito-Regular.ttf') format('truetype'),
      url('fonts/Nunito-Regular.svg#Nunito-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('fonts/Nunito-Bold.eot');
  src: url('fonts/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/Nunito-Bold.woff2') format('woff2'),
      url('fonts/Nunito-Bold.woff') format('woff'),
      url('fonts/Nunito-Bold.ttf') format('truetype'),
      url('fonts/Nunito-Bold.svg#Nunito-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
  line-height: 2;
  font-size: 16px;
  overflow-x: hidden;
  font-family: 'Nunito';
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0 30px 0;
  color: #111;
  font-weight: bold;
}
.container {
  padding: 80px 120px;
}
.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
}
.person:hover {
  border-color: #f1f1f1;
}
.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
}
.carousel-caption h3 {
  color: #fff !important;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail p {
  margin-top: 15px;
  color: #555;
}
.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}
    .modal-header, h4, .close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}
.modal-header, .modal-body {
  padding: 40px 50px;
}
.nav-tabs li a {
  color: #777;
}
#googleMap {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}  
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand { 
 font-weight: bold;
  color: #fafafa !important;
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}
.dropdown-menu li a {
  color: #000 !important;
}
.dropdown-menu li a:hover {
  background-color: red !important;
}

.color-one{
  background: #16985C;
}
.color-two{
  background: #00A4CF;
}
.mti {
  color: #fff;
  padding: 50px 25px 80px 25px;
  background-size: 100%;
  background-position: center center;
  border-radius: 0;
  position: relative;
  font-size: 13px;
}
.mti .btn{
  background: #fff !important;
  position: absolute;
  color: #000;
  right: 25px;
  bottom: 25px;
}
footer {
  background-color: #2d2d30;
  color: #f5f5f5;
}
footer a {
  color: #f5f5f5;
  font-size: 10px;
  font-weight: 600 !important;
}
footer .up-arrow{
  font-size: 15px;
}
footer a:hover {
  color: #777;
  text-decoration: none;
}
footer .container{
  padding: 5px 0;
} 
footer .navbar{
  display: flex;
	justify-content: center;
}
.form-control {
  border-radius: 0;
}
textarea {
  resize: none;
}

#about{
  padding: 80px 0px;
  margin: 0;
}

#contact{
  background: url('./images/home.png') no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin: 0 !important;
  height: auto;
  min-height: 280px;
}
#contact .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,.2);
  height: auto;
  padding: 70px 0;
}
.overlay h2{
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  margin: 50px 0 0 0;
}
.overlay .form-control{
  border-radius: 4px;
  padding: 10px 15px;
  height: auto;
}
.overlay .btn{
  border-radius: 4px;
  border-radius: 20px;
  padding: 10px 40px;
  font-weight: 600;
  background: #0BDBA3;
  color: #fff;
}
.overlay .form-btn{
  display: flex;
  justify-content: center;
}
.overlay .container{
  padding: 80px 10px;
}

.features{
  margin: 0 30px 0 30px !important;
  padding: 80px 0 150px 0;
}
.features .icon{
  width: 60px;
  height: auto;
  margin: 30px 0 0 0;
}
.features .txt{
  font-size: 12px;
}
.features .title{
  font-size: 13px;
  font-weight: 600;
}
.carousel-caption a.btn-df{
  border-radius: 30px;
  padding: 3px;
  background:rgb(239,249,71);
  background: linear-gradient(90deg, rgba(239,249,71,1) 0%, rgba(203,57,54,1) 100%) !important;
}
.carousel-caption:hover .txt{
  color: #fff !important;
}
a.btn-df .txt{
  /* background: #000; */
  border-radius: 30px;
  background: #000;
  padding: 12px 30px;
  font-size: 13px;
  font-weight: 600;
}
@media (min-width: 990px){
  #contact .overlay{
    padding: 0 100px;
  }
}
.carousel-caption{
  top: 250px;
  bottom: unset;
  color: white
}
.carousel-caption i{
  font-size: 16px;
}

.row-fl{
  display: flex;
}

#myCarouselCarbon .carousel-caption{
  left: 70px !important;
  color: #000;
  text-shadow: none;
}
#myCarouselCarbon .carousel-caption:hover .txt{
  color: #000 !important;
}
#myCarouselCarbon .carousel-caption .txt{
  text-align: left;
  width: 60%;
  font-weight: 400;
  font-size: 13px;
  /* color: #000; */
}

.image-right{
  width: 100%;
  height: auto;
}

@media (max-width: 500px){
  body .container{
    padding: 30px 20px !important;
  }
  .row-fl{
    display: block;
  }
  #contact{
    min-height: 450px !important;
  }
  #contact .overlay .btn{
    margin: 30px 0;
  }
}